.retryBtn {
  height: 35px;
  border: none;
  color: white;
  background-color: #00306e;
  width: 80px;
  border-radius: 6px;
  cursor: pointer;
}

.failure-view-image {
  height: 100px;
}
.failure-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
